/*------------------------------------------------------------------

@Author: CodeoStudio
@URL:    http://codeostudio.hr/

[Table of contents]

1.  Body
2.  Headings, Buttons, Navigation

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    1. Body
-------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif
}

/*------------------------------------------------------------------
    2. Headings
-------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
#cs-main-navigation,
.pullquotes,
.dropcap:first-letter,
.cs-single-post-controls a {
	font-family: 'Roboto Slab', serif;
}